<p>Hi <%= @user.name %>,</p>

<p>Today you became part of an amazing project! You will eat delicious food for a good price! </p>

<p>We will keep you up to date with interesting news!</p>

<p> See ya! </p>
