
.main-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  .carousels-container {
    flex: 1 1 auto;
    padding: 10px;
    .card-holder {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .card-cart {
        min-width: 250px;
        max-width: 300px;
        margin: 0 10px;
        // margin: 10px;
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .shopping-cart-container {
  flex: 0 0 400px;
  padding-top: 10px;
      border-left: 1px solid black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
    .btn-checkout {
    }
    .reservations-container {
      padding: 10px 0;
      overflow: scroll;
      height: 40vh;
      .reservation {
        display: flex;
        justify-content: flex-start;
        min-width: 300px;
        padding: 5px 0;
        .quantity {
          flex: 0 0 60px;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .name {
          flex: 1 1 auto;
          padding: 0 15px;
        }
        .price {
          flex: 0 0 50px;
          margin-left: auto;
        }
      }
    }
  }
}


.shop-cart-holder {
  div {
    padding: 20px;
  }
}
