.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control {
  width: 0px;
}

.carousel-control.left,
.carousel-control.right {
  margin-right: -10px;
  margin-left: -45px;
  margin-top: 110px;
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: black;
  font-size: 40px !important;
  font-weight: 100 !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .active.right { left: 100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev        { left: -100%; }
  .carousel-col                { width: 100%; }
  .active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .active.right { left: 100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev        { left: -100%; }
  .carousel-col                { width: 100%; }
  .active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
  .carousel-inner .next        { left:  33%; }
  .carousel-inner .prev        { left: -33%; }
  .carousel-col                { width: 33%; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev        { left: -25%; }
  .carousel-col                { width: 25%; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
  .active > div:first-child + div + div + div { display:block; }
}

