รง
<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-4 footer-content">
      <div class="mail-subscription">
        <h3> BE PART OF </h3>
        <p> Subscribe to stay up-to-date with our news</p>
        <form class="email-subscription" action="https://herokuapp.us19.list-manage.com/subscribe/post?u=330f06dfd09cd475763c2b9fe&amp;id=433a32c42d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <div class="form-group">
          <label class= "email-font" for="InputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sign up with your email" name="EMAIL" id="mce-EMAIL">
        </div>
      </form>
      <h2>waste'd</h2>

    </div>
  </div>
  <div class="col-sm-4 hidden-xs footer-content">
    <div id="footer-anchors">
      <p>
        <a href="#">How to sell food?</a>
      </p>
      <p>
        <a href="#">How to buy food?</a>
      </p>
      <p>
        <a href="#">Why wasted?</a>
      </p>
    </div>
  </div>
  <div class=" col-sm-4 hidden-xs footer-content">
    <div class="footer-links">
      <ul class="list-inline">
        <li>
          <a href="#">
            <div class="footer-links-div">
              <i class="fab fa-facebook-f"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="footer-links-div">
              <i class="fab fa-github"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="footer-links-div">
              <i class="fab fa-instagram"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
