<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= item.picture %>); margin-top: 10px; height: 300px;">
  <div class="card-description">
    <h2><%= item.category %></h2>
  </div>
</div>
