  <div class="map-window-elements">
  <div class="map-window-title">
      <h4> ITEM </h4>
    <h6>  <%= item.name.upcase%></h6>
  </div>
  <br>
<div class="map-window-view">
  <p> <%= link_to 'View Item', item_path(item) %></p>
</div>
  </div>
