<div class="container">
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-xs-12 col-sm-4" >
      <p>Amount: <%= humanized_money_with_symbol(item.price) %></p>
      <%= render 'shared/card', item: item %>
    </div>
    <% end %>
  </div>
</div>

<!-- Modal: modalQuickView -->


