.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 30px;
  background-color: #fff;
  // box-shadow: 2px 3px 4px 5px #dcdcdc;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.add {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  z-index: 5;
  // color: #ddd !important;
  &:hover {
    color: #da552f !important;
  }
  &:focus {
    outline: 0;
  }
}

.item-description {
  line-height: 2px;
  p {
    font-size: 15px;
    color: gray;
    font-weight:lighter;
    line-height: 4px;
    margin: 16px 0px;
  }
  h6 {
    font-size: 15px;
    font-weight:bolder;
    padding: 0px;
    margin: 6px 0px;
    color: black !important;
  }
}

$quantity-btn-color: #95d7fc;
.product {
  width: 30%;
  margin: 30px;
}
.form-group {
  width: 30%;
  margin: 30px;
  .glyphicon {
    color: $quantity-btn-color;
  }
}

.input-group-btn button{
  border-radius: 50%;
}

.circles {
  border-radius: 30px !important;
  height: 45px !important;
  background-color: black;
  color: #fff;
  &:last-child{
  margin-left: 9px !important;
}
}

.circle {
  border-radius: 40px !important;
  height: 65px !important;
  text-align: center !important;
  font-size: 25px !important;
  border: 1px solid black;
  margin: 5px !important;

}

.editlinks {
  position: absolute;
  top: 70px;
  right: 10px;
}

.form-modal{
  margin: 0;
}

.cart-btn {
  display: flex;
  justify-content: space-around;
  align-content: center;
  vertical-align: center;
  margin-top: 5px;
  border-radius: 5px;
  button{
    background-color: black;
    color: #fff;
  }
  button:hover{
    background-color: #fff;
    color: black;
    border: 3px solid black;
  }
  &:last-child{
    margin-top: 8px;
  }
}

.cart-btn-now{
  background-color: #fff;
    color: black;
    border: 3px solid black;
}

.cart-btn1 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  vertical-align: center;
  margin-top: 5px;
  border-radius: 5px;
  button:hover{
    background-color: black;
    color: #fff;
  }
  button{
    background-color: #fff;
    color: black;
    border: 3px solid black;
  }
}

.line-breaker {
  font-size: 5px;
}

.overview {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add {
    background: white;
    color: black;
    margin: 0;
    position: absolute;
    top: -1px !important;
    right: -1px !important;
}

