.footer {
  background-color: $wasted-black;
  height: 300px;
  color: white;
}
.footer-content {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-anchors {
  text-align: left;
  p {
    font-family: "Roboto";
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;

  }
}

.trick {
  padding-top: 10px;
}

.footer-links {
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: green;
    text-decoration: none;
  }
}

.footer-links-div {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  font-size: 30px;
}

#exampleInputEmail1 {
  background: $wasted-black;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  outline: none;
}

#exampleInputEmail1:focus {
  box-shadow: none;
  font-size: 15px;
}

.form-control{
  font-size: 15px;
  font-family: "Roboto";
}

.mail-subscription h3{
  font-family: "Montserrat";
  font-size: 20px;
  margin-bottom: 0;
}

.mail-subscription h2{
  font-family: "Montserrat";
  font-size: 25px;
}

.mail-subscription p{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;

}

.email-font {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
