
.final-day {
  div {
    width: 100%;
    margin: 0 !important;
    padding: 0;
  }
  padding-bottom: 15px;
}

.input-bar {
  font-family: "Montserrat";
  -webkit-appearance: none;
  border:none;
  border-radius:0;
  box-shadow: none;
  background: none;
  border-bottom: 1px solid black;
  padding: 0 0 0 10px;
  button {
   border: none;
 }
 input {
   border: 0;
   box-shadow: none;
 }
 &:focus {
  outline: 0;
  border-bottom: 1px solid black;
  box-shadow: none;
}
&:active{
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
}
}

#formnew .row{
  margin-bottom: 20px,
}

.select2{
  width: 100% !important;

}

.select2-selection{
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}

.form-control{
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  &:active{
   box-shadow: none !important;
 }
}

.fcfooter{
  border-bottom: 1px solid white !important;
}

.form-style{

  -webkit-box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);
  -moz-box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);
  box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);

}
