
.final-day {
  div {
    width: 100%;
    margin: 0 !important;
    padding: 0;
  }
  padding-bottom: 20px;
}

.input-bar {
  font-family: "Montserrat";
  -webkit-appearance: none;
  border:none;
  border-radius:0;
  box-shadow: none;
  background: none;
  border-bottom: 1px solid black;
  padding: 0 0 0 10px;
  button {
   border: none;
 }
 input {
   border: 0;
   box-shadow: none;
 }
 &:focus {
  outline: 0;
  border-bottom: 1px solid black;
  box-shadow: none;
}
&:active{
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid black;
}
}

#formnew .row{
  margin-bottom: 20px,
}

.select2{
  width: 100% !important;

}

.select2-selection{
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}

.form-control{
  border: none !important;
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  &:active{
   box-shadow: none !important;
 }
}

.fcfooter{
  border-bottom: 1px solid white !important;
}

.form-style{

  -webkit-box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);
  -moz-box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);
  box-shadow: 3px -2px 42px -9px rgba(184,180,184,.6);

}

.simple_form label{
  font-family: Montserrat !important;
  color: gray !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}

#item_category, #start_date, #end_date, #item_picture, #user_avatar{
 font-family: Montserrat !important;
 color: gray !important;
 font-weight: 400 !important;
 font-size: 15px !important;
 background-color: #fff !important;
}

.pt-0 {
 font-family: Montserrat !important;
 color: gray !important;
 font-weight: 400 !important;
 font-size: 15px !important;
 background-color: #fff !important;
}

.select2-search__field{
  font-family: Montserrat !important;
  color: gray !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

input{
 background-color: #fff !important;

}

.form-button{
  background-color: black !important;
  color: #fff !important;
}

.form-button:hover{
  background-color: #fff !important;
  color: black !important;
  border: 2px solid black !important;
}

.link-style a{
color: gray;
&:hover{
  color: black;
  text-decoration: none;
}

}

.link-style{
margin-top: 20px !important;
}
