// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "card";
@import "banner";
@import "home";
@import "button";
@import "form";
@import "card_in_cart";
@import "itemized_reservations";


.filter-body {
  height: auto;
}

.filter-modal {
  display: flex;
  width: 100%;
  flex: 0 0 50%;
}

.filter, .search {
  height: 30px;
  width: auto;
}

