// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "card";
@import "banner";
@import "home";
@import "button";

.filter-body {
  height: auto;
}

.filter-modal {
    display: flex;
    width: 100%;
    flex: 0 0 50%;
}

.filter, .search {
  height: 30px;
  width: auto;
}

