.input, .add {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  // color: #da552f;
  text-decoration: none;
  z-index: 3;
  .card-icon {
    background-color: transparent;
    font-size: 20px;
    color: #ddd !important;
    &:hover {
      color: #da552f !important;
    }
    &:focus {
      outline: 0;
    }
  }
}


.itemized-by-supplier {
  margin-bottom: 20px;

  .supplier-name {
    text-align: center;
    font-size: 18px;
    font-family: "Monsterrat" sans-serif;
    font-weight: bold;
  }
}

.cart-items-list2 {
    display: flex;
    align-items: center;
}

.reservation {
  .quantity {
    .plus-minus {
      background-color: transparent;
      font-size: 20px;
      color: #ddd !important;
      &:hover {
        color: #da552f !important;
      }
      &:focus {
        outline: 0;
      }
    }
  }
  .name {

  }
  .price {

  }
}

.subtotal-box{
  display: flex;
    justify-content: space-between;
}

.btn-checkout{
    border: 0px;
    background-color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    :hover {
    background-color: white !important;
    color: black !important;
    border-bottom: 2px solid black !important;
    }
}


.shopping-cart-box h3{
  font-family: "Roboto" !important;
  font-size:25px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}


.shopping-cart-container {
  border: 0px !important;
  align-items: center;
  background-color: white;
      display: flex;
    align-items: center;
    justify-content: center;

}

.total-prices-container {
  border-top: 1px solid black;
  h5 {
    font-family: "Monsterrat", sans-serif !important;
    font-size: 20px;
    padding-left: 20px;
  }
   h6 {
    font-family: "Monsterrat", sans-serif !important;
    font-size: 20px;
    padding-left: 20px;
  }
  h4 {
    font-family: "Monsterrat", sans-serif !important;
    font-size: 20px;
    border-top: 1px solid black;
    padding-top: 10px;
  }
}

